@supports ((-webkit-text-stroke: 1px var(--text-stroke-color)) or (text-stroke: 1px var(--text-stroke-color))) {
  .card__imges__label {
      -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--text-color);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--first-font, sans-serif);
  font-variation-settings: "wght" var(--first-font-weight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 102px 0;
  max-inline-size: 696px;
  inline-size: 100%;
  font-family: var(--accent-font);
  text-transform: uppercase;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__decoration {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-start: 136px;
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  margin: 20px 0;
}

.theme-menu__list {
  display: grid;
  gap: 12px;
  padding: 1px 0 0px 18px;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::before {
  position: absolute;
  content: "▶";
  color: transparent;
  right: 100%;
  top: 2%;
}

.theme-menu__button:disabled::before {
  pointer-events: none;
  color: currentColor;
  opacity: 0.6;
  animation: arrowhead 0.5s infinite ease-in-out alternate;
}

.theme-menu__button::after {
  position: absolute;
  display: block;
  inset-block-start: 14px;
  inline-size: 100%;
  block-size: 2px;
  content: "";
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  inline-size: 85%;
}

.card {
  display: flex;
  flex-direction: column;
  max-inline-size: 700px;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__list-item {
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
}

.card__list-title {
  padding: 5px 9px;
  border-block-end: 2px solid var(--text-color);
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: "wght" var(--header-font-weight);
}

.card__image {
  position: relative;
}

.image {
  display: block;
  object-position: center;
  object-fit: cover;
  inline-size: 100%;
  block-size: 696px;
}

.image-watermark {
  z-index: 1;
  inset-inline-end: 22px;
  inset-block-start: 23px;
  position: absolute;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
  font-family: var(--accent-font);
  color: var(--text-color);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 0 var(--background-color), -1px 0 0 var(--background-color), 0px 1px 0 var(--background-color), 0px -1px 0 var(--background-color);
}

.filter_brightness {
  filter: brightness(200%);
}

.filter_contrast {
  filter: contrast(75%);
}

.filter_blur {
  filter: blur(0.3rem);
}

.filter_sepia {
  filter: sepia(80%);
}

.filter_invert {
  filter: invert(90%);
}

.filter_massive {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.filter_hue {
  filter: hue-rotate(90deg);
}

.card__footer {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin-block-end: 20px;
  margin-inline-end: 25px;
}

.card__text {
  padding: 25px;
  border-block-start: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  gap: 27px;
}

.card__icon-button {
  border: 2px solid transparent;

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: border 300ms ease;
  cursor: pointer;
  display: flex;
  align-self: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
}

.button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  font-size: 14px;
  font-family: var(--accent-font);
  transition: box-shadow 300ms ease;
}

.card__like-button {
  min-inline-size: 130px;
  padding: 0px 17px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button::before {
  position: absolute;
  content: "";
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inset-inline-start: 0px;
  inset-block-start: 0px;
  block-size: 100%;
  inline-size: 100%;
  background: var(--text-color);
  color: var(--background-color);
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--button-color);
  mix-blend-mode: difference;
}

.window__button {
  min-inline-size: 335px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 52px;
  margin-block-end: 100px;
  gap: 8px;
}

.window__icon {
  color: var(--button-color);
  mix-blend-mode: difference;
  inline-size: 21px;
  block-size: 21px;
}

.modal__window-form {
  max-inline-size: 357px;
  padding: 30px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--accent-font);
}

.modal__window-form[open] {
  display: grid;
  gap: 30px;
  justify-content: center;
}

.modal__window {
  display: flex;
  align-items: center;
  max-inline-size: 293px;
  gap: 20px;
}

.modal-icon {
  width: 40px;
  height: 40px;
}

.modal__text {
  font-size: 14px;
  line-height: 21px;
  inline-size: 234px;
}

.modal__dialog-button {
  inline-size: 100%;
  min-width: 100%;
  text-transform: uppercase;
  padding: 12.5px;
}

.modal__window-form::backdrop {
  background-color: var(--dark);
  opacity: 0.75;
}

@media (width <=375px) {
  .header__decoration {
      margin-block-start: 120px;
  }

  .image {
      block-size: 371px;
  }

  .image-watermark {
      inset-inline-end: 10px;
  }

  .window__button {
      width: 306px;
      height: 84px;
      flex-direction: column;
  }

  .window__icon {
      inline-size: 31px;
      block-size: 31px;
  }
}
