/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.page {
  color: var(--text-color);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--first-font, sans-serif);
  font-variation-settings: "wght" var(--first-font-weight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 102px 0;
  max-inline-size: 696px;
  inline-size: 100%;
  font-family: var(--accent-font);
  text-transform: uppercase;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-start: 136px;
  margin-block-end: 20px;
}

.header__paragraph {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  margin: 20px 0;
}

.theme-menu__list {
  display: grid;
  gap: 12px;
  padding: 1px 0 0px 18px;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;

}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::before {
  position: absolute;
  content: "▶";
  inset-inline-end: 95px;
  color: transparent;
}

.theme-menu__button:disabled::before {
  pointer-events: none;
  color: currentColor;
  opacity: 0.6;
  animation: arrowhead 0.5s infinite ease-in-out alternate;
}

.theme-menu__button::after {
  position: absolute;
  display: block;
  block-size: 2px;
  content: "";
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  inline-size: 85%;
}

.card {
  display: flex;
  flex-direction: column;
  max-inline-size: 700px;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__list-item {
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
}

.card__list-title {
  padding: 5px 9px;
  border-block-end: 2px solid var(--text-color);
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: "wght" var(--header-font-weight);
}

.card__image {
  position: relative;
}

.image {
  display: block;
  object-position: center;
  object-fit: cover;
  inline-size: 100%;
}

.image-watermark {
  z-index: 1;
  inset-inline-end: 22px;
  inset-block-start: 23px;
  position: absolute;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
  font-family: var(--accent-font);
  color: var(--text-color);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 0 var(--background-color), -1px 0 0 var(--background-color), 0px 1px 0 var(--background-color), 0px -1px 0 var(--background-color);
}

.filter_brightness {
  filter: brightness(200%);
} 

.filter_contrast {
  filter: contrast(75%);
} 

.filter_blur {
  filter: blur(0.3rem);
} 

.filter_sepia {
  filter: sepia(80%);
} 

.filter_invert {
  filter: invert(90%);
} 

.filter_massive {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
} 

.filter_hue {
  filter: hue-rotate(90deg);
} 

.card__footer {
  display: flex;
  justify-content: flex-end;
  margin-block-end: 20px;
  margin-inline-end: 25px;
 
}

.card__text {
  padding: 25px;
  border-block-start: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  gap: 27px;
}

.card__icon-button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
  transition: border 0.5s ease;
}

.button {
  position: relative;
  cursor: pointer;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  font-size: 14px;
  font-family: var(--accent-font);
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  padding: 12px 36px;

}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button::before {
  position: absolute;
  content: "";
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inset-inline-start: 0px;
  inset-block-start: 0px;
  block-size: 100%;
  inline-size: 100%;
  background: var(--text-color);
  color: var(--background-color);
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  color: var(--button-color);
  mix-blend-mode: difference;
}

.window__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 52px;
  margin-block-end: 103px;
  gap: 7px;
  height: 55px;
  width: 338px;
}

.window__icon {
  color: var(--button-color);
  mix-blend-mode: difference;
  inline-size: 21px;
  block-size: 21px;
}

.modal__window-form {
  width: 353px;
  height: 191px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--accent-font);
}

.modal__window-form[open] {
  display: grid;
  gap: 30px;
  justify-content: center;
}

.modal__window {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__text {
  font-size: 14px;
  line-height: 21px;
  inline-size: 234px;
}

.modal__dialog-button  {
  inline-size: 293px;
  text-transform: uppercase;
  padding: 12px 0px;
}

@media (width <=375px) {

  .header__title {
    margin-block-start: 120px;
  }

  .image-watermark {
    inset-inline-end: 10px;
  }

  .window__button {
    width: 306px;
    height: 84px;
    flex-direction: column;
  }
  
  .window__icon {
    inline-size: 31px;
    block-size: 31px;
  }
}