/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light{
    --text-color: var(--dark);
    --background-color: var(--light);
  
    --main-font-weight: 400;
    --header-font-weight: 700;
  
    --background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #e7e7e7 0 2px, #1a1a1a 2px 4px);
  
    --button-color: var(--background-color);
  }
  
  :root.theme-dark{
    --text-color: var(--accent);
    --background-color: var(--dark);
  
    --main-font-weight: 465;
    --header-font-weight: 785;
  
    --background-image: repeating-linear-gradient(to right, #000, transparent 2px), repeating-linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
  
    --button-color: var(--text-color);
  }
  
  @media(prefers-color-scheme: dark){
    :root{
        --text-color: var(--accent);
        --background-color: var(--dark);
      
        --main-font-weight: 465;
        --header-font-weight: 785;
      
        --background-image: repeating-linear-gradient(to right, #000, transparent 2px), repeating-linear-gradient(to bottom, #007f0c, #007f0c 0.01%, #004306 100%);
      
        --button-color: var(--text-color);
    }
  }